.idea
node_modules/
dist/
npm-debug.log*
.env
schema.graphql
logs/*.txt
.DS_Store
.htaccess
temp/
package-lock.json
!temp/.keep
docs/graphql/*
!docs/graphql/template*
!docs/public*
!docs/**/*.keep
.vscode/*
*.code-workspace
