<section class="title slds-theme--inverse">
    <div class="container slds-grid">
        <div>
        <button class="slds-button js-toggle-navigation less-than-medium">
            <i class="material-icons slds-button__icon slds-button__icon--left">menu</i>
            <span class="slds-text-title--caps">Types<span>
        </button>
        </div>
        {{#projectPackage.graphidocs.graphiql}}
        <div class="slds-col--bump-left">
        <a class="slds-button js-toggle-navigation" target="_blank" href="{{projectPackage.graphidocs.graphiql}}">
            <span class="slds-text-title--caps">GraphiQL<span>
            <i class="material-icons slds-button__icon slds-button__icon--rigth">open_in_new</i>
        </a>
        {{/projectPackage.graphidocs.graphiql}}
        </div>
    </div>
{{!
 Only navs varaible is defined:
 @example:
    title: String,
    description: String,
    sections: [
        {
            title: String,
            description: String
        }

        -- MORE SECTIONS --
    ]
}}
    <div class="container">
        {{#type}}<p class="slds-text-title--caps slds-text-color--weak">{{type.kind}}</p>{{/type}}
        <h1 class="slds-text-heading--large">{{title}}</h1>
    </div>
</section>
<section>
<div class="container itemDescription">
    {{{description}}}
</div>
</section>
{{#documents}}

<section class="itemDefinition">
    <div class="container">
        <h2 id="{{#slug}}{{title}}{{/slug}}" class="graphidocs-section__title slds-text-heading--medium slds-m-top--small">
            <a href="#{{#slug}}{{title}}{{/slug}}">
                <i class="material-icons">link</i>
            </a>
            {{title}}
        </h2>
        {{{description}}}
    </div>
</section>
{{/documents}}